{% extends "base.html.twig" %}

{%  block title %}
Backbone.js - Start at a glance
{%  endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column m-0 p-0" id="app-root"></div>
{%  endblock %}

{% block bodyscripts %}
    <script defer type="text/javascript" src="/assets/js/vendor.js"></script>
    <script defer type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}